<a href="https://colab.research.google.com/github/Nasirul-Islam/Python_Basic_Exercise/blob/main/py_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Integer
age = 25
# Float
height = 5.9
# String
name = "John Doe"
# Boolean
is_employed = True
# List
hobbies = ["reading", "traveling", "coding"]
# Tuple
coordinates = (40.7128, -74.0060)
# Set
unique_numbers = {1, 2, 3, 4, 5}
# Dictionary
person_info = {
    "name": "John Doe",
    "age": 25,
    "is_employed": True,
    "hobbies": ["reading", "traveling", "coding"]
}

print("Age:", age)
print(type(age))
print("Height:", height)
print(type(height))
print("Name:", name)
print(type(name))
print("Is Employed:", is_employed)
print(type(is_employed))
print("Hobbies:", hobbies)
print(type(hobbies))
print("Coordinates:", coordinates)
print(type(coordinates))
print("Unique Numbers:", unique_numbers)
print(type(unique_numbers))
print("Person Info:", person_info)
print(type(person_info))

Age: 25
<class 'int'>
Height: 5.9
<class 'float'>
Name: John Doe
<class 'str'>
Is Employed: True
<class 'bool'>
Hobbies: ['reading', 'traveling', 'coding']
<class 'list'>
Coordinates: (40.7128, -74.006)
<class 'tuple'>
Unique Numbers: {1, 2, 3, 4, 5}
<class 'set'>
Person Info: {'name': 'John Doe', 'age': 25, 'is_employed': True, 'hobbies': ['reading', 'traveling', 'coding']}
<class 'dict'>

In [ ]:
# The following line is commented out and won't execute
# y = 20
print("Nasirul Islam")

'''
The following code is commented out:
z = 30
print(z)
'''

Nasirul Islam

'\nThe following code is commented out:\nz = 30\nprint(z)\n'

In [ ]:
#  f-strings (Formatted String Literals)
name = "Alice"
age = 25
height = 5.6

# Basic f-string
greeting = f"Hello, my name is {name}."
print(greeting)

# Using expressions inside f-strings
info = f"I am {age} years old and {height} feet tall."
print(info)

# Using f-strings with calculations
birth_year = 2023 - age
print(f"I was born in {birth_year}.")

# Formatting numbers in f-strings
pi = 3.14159
print(f"Pi rounded to 2 decimal places: {pi:.2f}")

Hello, my name is Alice.
I am 25 years old and 5.6 feet tall.
I was born in 1998.
Pi rounded to 2 decimal places: 3.14

In [ ]:
# str.format() Method
name = "Bob"
age = 30
height = 6.0

# Basic usage of str.format()
greeting = "Hello, my name is {}.".format(name)
print(greeting)

# Using positional arguments
info = "I am {} years old and {} feet tall.".format(age, height)
print(info)

# Using named arguments
info_named = "I am {age} years old and {height} feet tall.".format(age=age, height=height)
print(info_named)

# Formatting numbers with str.format()
pi = 3.14159
print("Pi rounded to 2 decimal places: {:.2f}".format(pi))

Hello, my name is Bob.
I am 30 years old and 6.0 feet tall.
I am 30 years old and 6.0 feet tall.
Pi rounded to 2 decimal places: 3.14

In [ ]:
#  % Formatting (Old Style)
name = "Charlie"
age = 35
height = 5.9

# Basic usage of % formatting
greeting = "Hello, my name is %s." % name
print(greeting)

# Using multiple placeholders
info = "I am %d years old and %.1f feet tall." % (age, height)
print(info)

# Formatting numbers with % formatting
pi = 3.14159
print("Pi rounded to 2 decimal places: %.2f" % pi)

Hello, my name is Charlie.
I am 35 years old and 5.9 feet tall.
Pi rounded to 2 decimal places: 3.14

In [ ]:
# 1. String Input
name = input("Enter your name: ")
print("Hello, " + name + "!")

# 2. Integer Input
age = int(input("Enter your age: "))
print("You will be", age + 5, "years old in 5 years.")

# 3. Float Input
height = float(input("Enter your height in feet: "))
print("Your height is", height, "feet.")

# 4. Boolean Input
is_student = bool(input("Are you a student? (True/False): "))
print("Student status:", is_student)

Enter your name: Nasirul
Hello, Nasirul!
Enter your age: 25
You will be 30 years old in 5 years.
Enter your height in feet: 5.4
Your height is 5.4 feet.
Are you a student? (True/False): true
Student status: True

In [ ]:
# Arithmetic Operators
a = 10
b = 3

print("Addition:", a + b)          # Output: 13
print("Subtraction:", a - b)       # Output: 7
print("Multiplication:", a * b)    # Output: 30
print("Division:", a / b)          # Output: 3.333...
print("Floor Division:", a // b)   # Output: 3
print("Modulus:", a % b)           # Output: 1
print("Exponentiation:", a ** b)   # Output: 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [ ]:
# Comparison Operators
x = 5
y = 3

print("Equal to:", x == y)          # Output: False
print("Not equal to:", x != y)      # Output: True
print("Greater than:", x > y)       # Output: True
print("Less than:", x < y)          # Output: False
print("Greater than or equal to:", x >= y)  # Output: True
print("Less than or equal to:", x <= y)     # Output: False

Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

In [ ]:
# Logical Operators
a = 5
b = 3
c = 10

print("and:", (a > b) and (a < c))  # Output: True
print("or:", (a > b) or (a < 1))    # Output: True
print("not:", not (a > b))          # Output: False

and: True
or: True
not: False

In [ ]:
# Assignment Operators
x = 10

x += 5  # x = x + 5 → 15
print("After +=", x)

x -= 3  # x = x - 3 → 12
print("After -=", x)

x *= 2  # x = x * 2 → 24
print("After *=", x)

x /= 4  # x = x / 4 → 6.0
print("After /=", x)

x //= 2  # x = x // 2 → 3.0
print("After //=", x)

x **= 3  # x = x ** 3 → 27.0
print("After **=", x)

x %= 5  # x = x % 5 → 2.0
print("After %=", x)

After += 15
After -= 12
After *= 24
After /= 6.0
After //= 3.0
After **= 27.0
After %= 2.0

In [ ]:
# Identity Operators
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print("x is y:", x is y)          # Output: False (different objects)
print("x is z:", x is z)          # Output: True (same object)
print("x is not y:", x is not y)  # Output: True

x is y: False
x is z: True
x is not y: True

In [ ]:
# Membership Operators
numbers = [1, 2, 3, 4, 5]

print("5 in numbers:", 5 in numbers)          # Output: True
print("10 not in numbers:", 10 not in numbers)  # Output: True

5 in numbers: True
10 not in numbers: True

In [ ]:
# if-else Statement
age = 15

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [ ]:
# if-elif-else Statement
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [ ]:
# Nested if Statements
age = 20
has_id = True

if age >= 18:
    if has_id:
        print("You are eligible to enter the club.")
    else:
        print("You need an ID to enter the club.")
else:
    print("You are not eligible to enter the club.")

You are eligible to enter the club.

In [ ]:
# Ternary Operator
age = 20
status = "Eligible" if age >= 18 else "Not Eligible"
print("Status:", status)

Status: Eligible

In [ ]:
# match-case Statement (Python 3.10+)
day = "Monday"

match day:
    case "Monday":
        print("Start of the workweek.")
    case "Friday":
        print("Last day of the workweek.")
    case "Saturday" | "Sunday":
        print("It's the weekend!")
    case _:
        print("It's a regular day.")

Start of the workweek.

In [ ]:
# Handling Multiple Conditions
age = 25
has_license = True

if age >= 18 and has_license:
    print("You can drive.")
else:
    print("You cannot drive.")

You can drive.

In [ ]:
# Empty if Block
x = 10

if x > 5:
    pass  # Do nothing for now
else:
    print("x is less than or equal to 5.")

In [ ]:
# Example 1: Basic While Loop
print("Example 1: Basic While Loop")
x = 0
while x < 5:
    print(f"x is {x}")
    x += 1  # Increment x by 1
print()

Example 1: Basic While Loop
x is 0
x is 1
x is 2
x is 3
x is 4

In [ ]:
# Example 2: Infinite Loop with Break
print("Example 2: Infinite Loop with Break")
while True:
    user_input = input("Enter 'quit' to exit: ")
    if user_input == 'quit':
        print("Exiting the loop.")
        break
    else:
        print(f"You entered: {user_input}")
print()

Example 2: Infinite Loop with Break
Enter 'quit' to exit: 5
You entered: 5
Enter 'quit' to exit: 9
You entered: 9
Enter 'quit' to exit: quit
Exiting the loop.

In [ ]:
# Example 3: While Loop with Else
print("Example 3: While Loop with Else")
count = 0
while count < 3:
    print(f"Count is {count}")
    count += 1
else:
    print("Loop finished!")
print()

Example 3: While Loop with Else
Count is 0
Count is 1
Count is 2
Loop finished!

In [ ]:
# Example 4: Nested While Loop
print("Example 4: Nested While Loop")
i = 1
while i <= 3:
    j = 1
    while j <= 3:
        print(f"i = {i}, j = {j}")
        j += 1
    i += 1
print()

Example 4: Nested While Loop
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

In [ ]:
# Example 5: While Loop with Continue
print("Example 5: While Loop with Continue")
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue  # Skip the rest of the loop for x = 3
    print(f"x is {x}")
print()

Example 5: While Loop with Continue
x is 1
x is 2
x is 4
x is 5

In [ ]:
# Example 6: Real-World Example (Guessing Game)
print("Example 6: Real-World Example (Guessing Game)")
secret_number = 7
guess = None
while guess != secret_number:
    guess = int(input("Guess the number (between 1 and 10): "))
    if guess < secret_number:
        print("Too low!")
    elif guess > secret_number:
        print("Too high!")
    else:
        print("Congratulations! You guessed it!")
print()

Example 6: Real-World Example (Guessing Game)
Guess the number (between 1 and 10): 5
Too low!
Guess the number (between 1 and 10): 8
Too high!
Guess the number (between 1 and 10): 6
Too low!
Guess the number (between 1 and 10): 3
Too low!
Guess the number (between 1 and 10): 9
Too high!
Guess the number (between 1 and 10): 7
Congratulations! You guessed it!

In [ ]:
# Example 7: While Loop with a List
print("Example 7: While Loop with a List")
fruits = ["apple", "banana", "cherry"]
while fruits:
    print(f"Eating {fruits.pop(0)}")
print("No more fruits left!")

Example 7: While Loop with a List
Eating apple
Eating banana
Eating cherry
No more fruits left!

In [ ]:
# Example 1: Basic For Loop
print("Example 1: Basic For Loop")
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)
print()

Example 1: Basic For Loop
1
2
3
4
5

In [ ]:
# Example 2: For Loop with Range
print("Example 2: For Loop with Range")
for i in range(5):
    print(i)
print()

Example 2: For Loop with Range
0
1
2
3
4

In [ ]:
# Example 3: For Loop with Strings
print("Example 3: For Loop with Strings")
word = "Python"
for char in word:
    print(char)
print()

Example 3: For Loop with Strings
P
y
t
h
o
n

In [ ]:
# Example 4: For Loop with Dictionary
print("Example 4: For Loop with Dictionary")
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}
print("Keys:")
for key in student_grades:
    print(key)
print("\nValues:")
for value in student_grades.values():
    print(value)
print("\nKey-Value Pairs:")
for key, value in student_grades.items():
    print(f"{key}: {value}")
print()

Example 4: For Loop with Dictionary
Keys:
Alice
Bob
Charlie

Values:
90
85
95

Key-Value Pairs:
Alice: 90
Bob: 85
Charlie: 95

In [ ]:
# Example 5: Nested For Loop
print("Example 5: Nested For Loop")
for i in range(3):
    for j in range(2):
        print(f"i = {i}, j = {j}")
print()

Example 5: Nested For Loop
i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [ ]:
# Example 6: For Loop with Else
print("Example 6: For Loop with Else")
for i in range(3):
    print(i)
else:
    print("Loop finished!")
print()

Example 6: For Loop with Else
0
1
2
Loop finished!

In [ ]:
# Example 7: For Loop with Break
print("Example 7: For Loop with Break")
for i in range(10):
    if i == 5:
        break
    print(i)
print()

Example 7: For Loop with Break
0
1
2
3
4

In [ ]:
# Example 8: For Loop with Continue
print("Example 8: For Loop with Continue")
for i in range(5):
    if i == 2:
        continue
    print(i)
print()

Example 8: For Loop with Continue
0
1
3
4

In [ ]:
# Example 9: Real-World Example (Sum of Numbers)
print("Example 9: Real-World Example (Sum of Numbers)")
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num
print(f"The sum is: {total}")
print()

Example 9: Real-World Example (Sum of Numbers)
The sum is: 150

In [ ]:
# Example 10: For Loop with Enumerate
print("Example 10: For Loop with Enumerate")
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")
print()

Example 10: For Loop with Enumerate
Index 0: apple
Index 1: banana
Index 2: cherry

In [ ]:
# Example 11: For Loop with Zip
print("Example 11: For Loop with Zip")
names = ["Alice", "Bob", "Charlie"]
scores = [90, 85, 95]
for name, score in zip(names, scores):
    print(f"{name} scored {score}")
print()

Example 11: For Loop with Zip
Alice scored 90
Bob scored 85
Charlie scored 95

In [ ]:
# Example 12: For Loop with List Comprehension
print("Example 12: For Loop with List Comprehension")
numbers = [1, 2, 3, 4, 5]
squared_numbers = [num**2 for num in numbers]
print(squared_numbers)

Example 12: For Loop with List Comprehension
[1, 4, 9, 16, 25]

In [ ]:
# Example 13: range() with Start, Stop, and Step
print("Example 13: range() with Start, Stop, and Step")
for i in range(2, 11, 2):
    print(i)
print()

Example 13: range() with Start, Stop, and Step
2
4
6
8
10

In [ ]:
# Example 14: range() with Negative Step
print("Example 14: range() with Negative Step")
for i in range(10, 0, -1):
    print(i)
print()

Example 14: range() with Negative Step
10
9
8
7
6
5
4
3
2
1

In [ ]:
# Example 15: range() with Floating-Point Simulation
print("Example 15: range() with Floating-Point Simulation")
start = 0.0
stop = 1.0
step = 0.2
while start < stop:
    print(round(start, 2))  # Round to 2 decimal places
    start += step
print()

Example 15: range() with Floating-Point Simulation
0.0
0.2
0.4
0.6
0.8

In [ ]:
# Example 16: range() with List Creation
print("Example 16: range() with List Creation")
even_numbers = list(range(0, 11, 2))
print(even_numbers)
print()

# Example 17: range() with Indexing
print("Example 17: range() with Indexing")
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
    print(f"Index {i}: {fruits[i]}")
print()

Example 16: range() with List Creation
[0, 2, 4, 6, 8, 10]

Example 17: range() with Indexing
Index 0: apple
Index 1: banana
Index 2: cherry

In [ ]:
# Example 18: range() with Custom Start
print("Example 18: range() with Custom Start")
for i in range(5, 10):
    print(i)
print()

# Example 19: range() with Single Argument
print("Example 19: range() with Single Argument")
for i in range(5):
    print(i)
print()

# Example 20: range() with Large Steps
print("Example 20: range() with Large Steps")
for i in range(0, 21, 5):
    print(i)

Example 18: range() with Custom Start
5
6
7
8
9

Example 19: range() with Single Argument
0
1
2
3
4

Example 20: range() with Large Steps
0
5
10
15
20

In [ ]:
# Example 1: Basic Function (No Parameters, No Return)
def greet():
    print("Hello, World!")
greet()  # Output: Hello, World!

# Example 2: Function with Parameters
def greet_user(name):
    print(f"Hello, {name}!")
greet_user("Alice")  # Output: Hello, Alice!

# Example 3: Function with Return Value
def add(a, b):
    return a + b
result = add(3, 5)
print(result)  # Output: 8

Hello, World!
Hello, Alice!
8

In [ ]:
# Example 4: Function with Default Parameters
def rectangle_area(length, width=5):
    return length * width
print(rectangle_area(10))     # Output: 50 (uses default width=5)
print(rectangle_area(10, 3))  # Output: 30

50
30

In [ ]:
# Example 5: Function with Keyword Arguments
def describe_person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")
describe_person(age=30, city="Paris", name="Bob")  # Keyword arguments

Bob is 30 years old and lives in Paris.

In [ ]:
# Example 6: Function with Variable Scope
x = 10  # Global variable
def update_global():
    global x
    x = 20
update_global()
print(x)  # Output: 20 (global x is modified)

20

In [ ]:
# Example 7: Recursive Function (Factorial)
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))  # Output: 120

120

In [ ]:
# Example 8: Nested Function
def outer():
    message = "Hello from outer!"
    def inner():
        print(message)
    inner()
outer()  # Output: Hello from outer!

Hello from outer!

In [ ]:
# Example 9: Lambda Function (Anonymous Function)
square = lambda x: x ** 2
print(square(4))  # Output: 16

16

In [ ]:
# Example 10: Function with Type Hints
def multiply(a: float, b: float) -> float:
    return a * b
print(multiply(3.5, 2))  # Output: 7.0

7.0

In [ ]:
# Example 11: Function with Docstring
def is_palindrome(word: str) -> bool:
    """
    Checks if a word is a palindrome (reads the same backward).
    Example: "radar" -> True
    """
    return word == word[::-1]
print(is_palindrome("radar"))  # Output: True

True

In [ ]:
# Example 12: Function with Error Handling
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return "Cannot divide by zero!"
print(safe_divide(10, 2))  # Output: 5.0
print(safe_divide(10, 0))  # Output: Cannot divide by zero!

5.0
Cannot divide by zero!

In [ ]:
# Example 13: Function with *args (Variable-Length Arguments)
def sum_all(*args):
    return sum(args)
print(sum_all(1, 2, 3))  # Output: 6

6

In [ ]:
# Example 14: Function with **kwargs (Keyword Arguments Dictionary)
def build_profile(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
build_profile(name="Alice", age=25, city="London")

name: Alice
age: 25
city: London

In [ ]:
# Example 15: Generator Function (with yield)
def even_numbers(limit):
    num = 0
    while num <= limit:
        yield num
        num += 2
for num in even_numbers(10):
    print(num)  # Output: 0 2 4 6 8 10

0
2
4
6
8
10

In [ ]:
# 5. List Input with Error Handling
while True:
    numbers = input("Enter a list of numbers separated by spaces: ")
    try:
        # Split the input string and convert each part to an integer
        numbers_list = [int(x) for x in numbers.split()]
        print("List of numbers:", numbers_list)
        break  # Exit the loop if input is valid
    except ValueError:
        print("Invalid input! Please enter only numbers separated by spaces.")

Enter a list of numbers separated by spaces: 1,2 23 5 45 2 ,2 2
Invalid input! Please enter only numbers separated by spaces.
Enter a list of numbers separated by spaces: 2  4 5 7  8  5   4 3        3
List of numbers: [2, 4, 5, 7, 8, 5, 4, 3, 3]

In [ ]:
# 6. Tuple Input
# Coordinates Input with Error Handling
while True:
    coordinates = input("Enter coordinates only numbers separated by spaces (x y): ")
    try:
        # Split the input string and convert to floats
        x, y = map(float, coordinates.split())
        point = (x, y)
        print("Coordinates:", point)
        break  # Exit the loop if input is valid
    except ValueError:
        print("Invalid input! Please enter exactly two numbers separated by spaces.")
    except IndexError:
        print("Invalid input! Please enter exactly two numbers separated by spaces.")

Enter coordinates only numbers separated by spaces (x y): 34  65 76
Invalid input! Please enter exactly two numbers separated by spaces.
Enter coordinates only numbers separated by spaces (x y): 23, 45
Invalid input! Please enter exactly two numbers separated by spaces.
Enter coordinates only numbers separated by spaces (x y): 3 5
Coordinates: (3.0, 5.0)

In [ ]:
# 7. Set Input
fruits = input("Enter fruits separated by commas: ")
fruits_set = set(fruits.split(","))  # Typecast to a set
print("Set of fruits:", fruits_set)

Enter fruits separated by commas: fg.yrt,wrt t,ry ,wrt ,w r
Set of fruits: {'ry ', 'wrt ', 'fg.yrt', 'wrt t', 'w r'}

In [ ]:
# 8. Dictionary Input
"""
key_value_pairs = input("Enter key-value pairs (key1:value1,key2:value2): ")
pairs = key_value_pairs.split(",")
my_dict = {}
for pair in pairs:
    key, value = pair.split(":")
    my_dict[key] = value  # Typecast value if needed
print("Dictionary:", my_dict)
"""

# Key-Value Pairs Input with Error Handling and Duplicate Key Handling
while True:
    key_value_pairs = input("Enter key-value pairs (key1:value1,key2:value2): ")
    try:
        pairs = key_value_pairs.split(",")
        my_dict = {}
        for pair in pairs:
            key, value = pair.split(":")
            key = key.strip()
            value = value.strip()
            if key in my_dict:
                print(f"Warning: Duplicate key '{key}'. Overwriting previous value.")
            my_dict[key] = value
        print("Dictionary:", my_dict)
        break
    except ValueError:
        print("Invalid input! Please use the format 'key1:value1,key2:value2'.")
    except IndexError:
        print("Invalid input! Please ensure each pair has a key and a value separated by ':'.")

Enter key-value pairs (key1:value1,key2:value2): name:hello, age:89, istrue: false
Dictionary: {'name': 'hello', 'age': '89', 'istrue': 'false'}

In [ ]:
  ## Can build up a dict by starting with the empty dict {}
  ## and storing key/value pairs into the dict like this:
  ## dict[key] = value-for-that-key
dict = {}
dict['a'] = 'alpha'
dict['g'] = 'gamma'
dict['o'] = 'omega'
print(dict) ## {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dict['a'])     ## Simple lookup, returns 'alpha'
dict['a'] = 6       ## Put new key/value into dict
'a' in dict         ## True
## print(dict['z'])                  ## Throws KeyError
if 'z' in dict: print(dict['z'])     ## Avoid KeyError
print(dict.get('z'))  ## None (instead of KeyError)

{'a': 'alpha', 'g': 'gamma', 'o': 'omega'}
alpha
None

In [ ]:
## By default, iterating over a dict iterates over its keys.
## Note that the keys are in a random order.
for key in dict:
  print(key)
## prints a g o

a
g
o

In [ ]:
## Exactly the same as above
for key in dict.keys():
  print(key)

## Get the .keys() list:
print(dict.keys())  ## dict_keys(['a', 'o', 'g'])

## Likewise, there's a .values() list of values
print(dict.values())  ## dict_values(['alpha', 'omega', 'gamma'])

## Common case -- loop over the keys in sorted order,
## accessing each key/value
for key in sorted(dict.keys()):
  print(key, dict[key])

a
g
o
dict_keys(['a', 'g', 'o'])
dict_values([6, 'gamma', 'omega'])
a 6
g gamma
o omega

In [ ]:
## .items() is the dict expressed as (key, value) tuples
print(dict.items())  ##  dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

## This loop syntax accesses the whole dict by looping
## over the .items() tuple list, accessing one (key, value)
## pair on each iteration.
for k, v in dict.items(): print(k, '>', v)
## a > alpha    o > omega     g > gamma

dict_items([('a', 6), ('g', 'gamma'), ('o', 'omega')])
a > 6
g > gamma
o > omega

In [ ]:
h = {}
h['word'] = 'garfield'
h['count'] = 42
s = 'I want %(count)d copies of %(word)s' % h  # %d for int, %s for string
print(s)
# 'I want 42 copies of garfield'

# You can also use str.format().
#a = 'I want {count:d} copies of {word}'.format(h)
a = 'I want {count:d} copies of {word}'.format(count=h['count'], word=h['word'])
print(a)

I want 42 copies of garfield
I want 42 copies of garfield

In [ ]:
var = 6
del var  # var no more!

list = ['a', 'b', 'c', 'd']
del list[0]     ## Delete first element
del list[-2:]   ## Delete last two elements
print(list)      ## ['b']

dict = {'a':1, 'b':2, 'c':3}
del dict['b']   ## Delete 'b' entry
print(dict)      ## {'a':1, 'c':3}

['b']
{'a': 1, 'c': 3}

In [1]:
import re

str = 'an example word:cat!!'
match = re.search(r'word:\w\w\w', str)
# If-statement after search() tests if it succeeded
if match:
  print('found', match.group()) ## 'found word:cat'
else:
  print('did not find')

found word:cat